
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
}

form {
    text-align: center;
    margin: 20px 0;
}

h1, h2 {
    text-align: center;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
}

.recycable {
    color: green;
}

.not-recycable {
    color: red;
}
